<!DOCTYPE html>
<html>
<body>
<div class="background">
    <div class="center-holder">
        <img id="base-image" src="/img/horus_music_logo.png"/>
        <p>Welcome to the horus music website<br/>
            please click on one of these links to see the results</p>
        <div>
            <p>
                <a href="/circle/10">Circle</a> &nbsp;&nbsp;<a href="/triangle/10/12/16">Triangle</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
<style>

    html, body {
        margin: 0px;
        background-color: #0d4eac;
    }

    .background {
        text-align: center;
    }

    .center-holder {
        margin: auto;
        display: block;
    }

    img {
        margin-top: 65px;
    }

    p {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
    }

    a {
        color: #000000;
        font-size: 22px;
        font-weight: bold;
        padding: 13px 25px;
        background: #e5f2ff;
        border-radius: 36px;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
        text-decoration-thickness: auto;
        border: 1px solid #135fcc;
    }

    a:hover {
        background: #fff;
        color: #da12c4;
    }
</style>